#navbar{
    height: 95px;
    background-color: rgb(194, 51, 41);
    color: white; 
    
}

h1{
   margin-left: -10%;
   font-size: 5px;
}
h3{color: rgb(194, 51, 41);}

ul li{
    display: inline;
    float: right;
    text-decoration: none;
    position: relative;
    top: -55px;
    font-size: 18px;

}

li a{
    overflow: hidden;
    text-decoration: none;
    text-transform: none;
    color: white;
    margin-top: 0;
    padding: 20px;
  
    
    display: inline;
}
li a:hover {
    color: lightgray;
}
main{
    margin-top: 45px;

}
#hldiv{
    margin-right: 8%;
    margin-left: 8%;
}

aside{
    margin-top: 45px;
    margin-right: 50px;
    margin-right: 150px;
}

.frame{
    border: 2px solid #ccc;
}
#tab{
    margin-top: 15px;
    background-color: rgb(253, 253, 253);
}
figcaption{color: rgb(143, 143, 143);}
.odkaz{color: rgb(194, 51, 41);}

footer{
    margin-top: 55px;
    background-color: #ccc;
}
#footer{
    margin-left: 15%;
}
.odkaz:hover{
    color:rgb( 163, 41, 33);
}
